.current-weather {
  
  display: flex;
  flex-direction: column;
  
  &__header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    &__city {
      margin: 0
    }
  }
  
  
  
  &__body {
    display: flex;
    
    &__details {
      display: flex;
      .icon {
        margin-left: 10px;
      }
      }
    
    &__temp {
      margin-left: 10px;
      div {
        font-size: 2.5em;
      }
    }
    
    hr {
      margin: 0 20px;
    }
    
    &__meta-details {
      display: flex;
      flex-direction: column;
      
      &__row {
        display: flex;
        flex-direction: row;
        
        
        &__item {
          padding: 5px 20px;
        }
        
        
      }
    }
    
    
  }
  
}
